<!DOCTYPE html>
<html lang="en">
<head>
  <title>Restaurants</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  
  <header>
    <div class="container">
      <div class="jumbotron">
        <h1 style="text-align: center;;">Restaurants</h1>
      </div>
    </div>
  </header>

  <main>
    <div>
    {% for restaurant in restaurants %}
    		<a href = "{{url_for('showMenu', restaurant_id = restaurant.id)}}">
    			<div class="row">
    				<div class="col-md-1 col-xs-4"></div>
    					<div class="well" class="col-md-10 restaurant-list">
    						<h3>{{restaurant.name}}</h3>
    					</div>
    				<div class="col-md-1"></div>
    			</div>
    		</a>
    {% endfor %}
  </div>
  </main>
</body>
</html>
